@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

a:focus {
    outline: 3px solid #333333;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #333333;
    color: #F4F4F4;
    font-size: 1.25em;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.masthead {
    background-color: #C9C9C9;
}

.nav a {
    text-decoration: none;
    color: #333333;
}

.nav {
    margin: 0;
    padding: 0.5em 0;
    list-style-type: none;
    text-align: center;
}

.nav li {
    display: block;
    padding: 1em;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current:link,
.nav .nav-current:visited {
    color: #F4F4F4;
    text-align: center;
}

.billboard {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
    padding: 5em 0;
}

.wordmark-type {
    text-align: center;
    font-size: 3em;
}

.placeholder-circle:hover {
    opacity: .75;
}

.nav-footer a {
    text-decoration: none;
    color: #333333;
}

.nav-footer {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    background-color: #C9C9C9;
}

.nav-footer li {
    display: block;
    padding: 1em;
}

.nav-footer a:hover,
.nav-footer a:focus,
.nav-footer a:active,
.nav-footer .nav-current:link,
.nav-footer .nav-current:visited {
    color: #F4F4F4;
}

.me {
    width: 20%;
}

@media only screen and (min-width:25em) {
 
    .nav li {
        display: inline-block;
    }
    
    .nav-footer li {
        display: inline-block;
    }
    
    .billboard {
        padding: 2em 0;
    }
    
    .wordmark-type {
        font-size: 5em;
    }
    
}

@media only screen and (min-width:38em) {
 
    .nav {
        text-align: left;
        padding: 1.5em 0;
    }
    
    .nav-footer {
        text-align: left;
        padding: 0.5em 0 0 0;
    }
    
}