@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@media only screen and (min-width: 60em) {
    
    html {
        font-size: 110%;
    }
        
    .masthead {
        text-align: left;
    }
    
    .nav-footer {
        text-align: right;
    }
}

@media only screen and (min-width: 90em) {
    
    html {
        font-size: 120%;
    }
    
}

@media only screen and (min-width: 120em) {
    
    html {
        font-size: 130%;
    }
}

*, *:before, *:after {
  box-sizing: inherit;
}


body {
  margin: 0;
  padding: 0;
}

a:link,
a:active {
    outline: none;
}

a:focus {
    background-color: 3px solid #000;
}

.skip-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    padding: 0.5em 0.75em;
    background-color: #000;
    color: #333333;
    font-weight: bold;
    font-size: 1.25rem;
    text-decoration: none;
}

.skip-links a:focus {
    top: 0;
}

.img-flex {
  display: block;
  width: 100%;
}

.masthead {
  background-color: #333333;
  overflow: hidden;
}

.title {
    text-align: center;
    margin: 0;
}

.nav {
    margin: 0;
    padding: 1em 0;
    list-style-type: none;
    background-color: #333333;
}

.nav li {
    border-top: 0;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;
  color: #F4F4F4;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active,
.nav .nav-current,
.nav .nav-current:visited {
  background-color: #;

  color: #fff;
}

.intro {
    background-color: #e2e2e2;
    text-align: center;
    font-weight: normal;
}

textarea {
    width: 100%;
    height: 18em;
    border: none;
}

.text-align {
    text-align: center;
}

.logo {
    width: 8rem;
    margin: 0 auto;
    display: block;
}

ul {
    list-style: none;
    font-family: "Raleway", sans-serif;
}

.paragraph {
    text-align: center;
}
  
@media only screen and (min-width: 25em) {
    
    .nav {
        text-align: center;
    }

    .nav li {
        display: inline-block;
    }
    
    .masthead {
        text-align: center;
    }
    
    .banner {
        text-align: center;
    }
    
    .banner-img {
       padding-top: 56.25%;
       background-image: url(../images/banner.jpg);
       background-size: cover;
    }
    
    .banner-img2 {
       padding-top: 56.25%;
       background-image: url(../images/contact-banner.jpg);
       background-size: cover;
    }  
          
}

@media only screen and (min-width: 38em) {
    
  .title,
  .nav {
    text-align: left;
   }
    
    .masthead {
        text-align: left;
    }
    
    .nav-footer {
        text-align: right;
}
    .logo {
        margin: .25rem 1%;
    }
    
}