@-moz-viewport {width:device-width; scale: 1; }
@-ms-viewport {width:device-width; scale: 1; }
@-o-viewport {width:device-width; scale: 1; }
@-webkit-viewport {width:device-width; scale: 1; }
@viewport {width:device-width; scale: 1; }

html {
    box-sizing: border-box;
    
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: #F4F4F4;
}

.img-flex {
    width: 100%;
    margin: 0 auto;
}

.logo {
    padding-top: 20px;
    width: 35em;
}

a:focus {
    outline: 1px solid #333333;
}

.skip-links {
    margin:0;
    padding: 0;
    list-style-type: none;
}

.skip-links a {
    position: absolute;
    top: -3em;
    background-color: #333333;
    color: #F4F4F4;
    padding: 0.5em 0.75em;
    font-size: 1.25em;
}

.skip-links a:focus {
    top: 0;
}

.billboard {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #DBE690;
}

.billboard-type {
    align-content: center;
    width: 100%;
    height: 30em;
    
}

.masthead {
    background-color: #C9C9C9;
}

.nav a {
    margin:0 auto;
    padding: 0;
    text-decoration: none;
    color: #333333;
}

.nav {
    margin: 0;
    padding-top: .25em;
    padding-bottom: .25em;
    list-style-type: none;
    text-align: center;
    background-color: #C9C9C9;
}

.nav a:hover,
.nav a:focus,
.nav .nav-current:link,
.nav .nav-current:visited {
    color: #F4F4F4;
    text-align: center;
}

li {
    display: inline;
    font-weight: 300;
    text-align: center;
}


.workh2 {
    font-weight: 300;
    margin-bottom: -10px;
    font-size: 1.25em;
    text-align: center;
}

.me {
    align-content: center;
    padding-top: 20px;
    width: 100%;
    height: 30em;
}

.paragraph {
    margin: 0 auto;
    display: block;
}

.map {
    align-content: center;
    padding-top: 20px;
    width: 100%;
    height: 30em;
}

.portfolio-piece {
    margin: 0 auto;
    display: block;
}

.portfolio-piece:hover {
    opacity: .35;
}

work-imgs {
    height: 100%;
}

.icons {
    display: block;
    margin: 0 auto;
    width: 5em;
}

.icon-width {
    max-width: 25em;
    display: block;
    margin: 0 auto;
}

.nav-footer a {
    text-decoration: none;
    color: #333333;
}

.nav-footer {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
    background-color: #C9C9C9;
}

.nav-footer li {
    display: block;
    padding: 1em;
}

.nav-footer a:hover,
.nav-footer a:focus,
.nav-footer a:active,
.nav-footer .nav-current:link,
.nav-footer .nav-current:visited {
    color: #F4F4F4;
}

.nav-current {
    color: #F4F4F4;
}

@media only screen and (min-width: 20em) {
    
    .billboard {
     margin: 0 auto;
     width: 100%;
     text-align: center;
 }
    
    .billboard-type {
     margin: 0 auto;
     width: 100%;
     text-align: center;
 }
    
    .nav {
     margin: 0 auto;
     width: 100%;
     text-align: center;
 } 
    
    .nav-footer {
     margin: 0 auto;
     width: 100%;
     text-align: left;
 }
    
    .portfolio-piece {
     margin: 0 auto;
     width: 100%;
     text-align: center;
}
    .workh2 {
     margin: 0 auto;
     width: 100%;
     text-align: center;
}
    
    .paragraph {
    text-align: center;
}
    
    .me {
     margin: 0 auto;
     width: 100%;
     text-align: center;
 }
    
    .map {
     margin: 0 auto;
     width: 100%;
     text-align: center;
 } 
}

@media only screen and (min-width: 40em) {
  
     .logo {
     margin: 0 auto;
     max-width: 22em;
     text-align: center;
 }
          
}

@media only screen and (min-width: 60em) {
    
    .photography-piece {
    margin: 0 auto;
    display: block;
}

}