<div class="unit unit-xs-1 unit-s-1 unit-m-1 unit-l-1">
    <nav role="navigation" id="navigation">
        <ul class="nav kilo">
            <li><a class="{% if page.url == '/' %}nav-current{% endif %}" href="{{site.baseurl}}/">HOME</a></li>
            <li><a class="{% if page.url == '/about/' %}nav-current{% endif %}" href="{{site.baseurl}}/about/">ABOUT</a></li>
            <li><a class="{% if page.url == '/contact/' %}nav-current{% endif %}" href="{{site.baseurl}}/contact/">CONTACT</a></li>
        </ul>
    </nav> 
</div>